body {
	background: url(../img/background.gif) repeat; 
}

div{
	margin-left:15%;
	margin-right:15%;
	background: url(../img/building.jpg) no-repeat;
	background-position: 98% 5%;
	background-color: white;
	padding-bottom:1%;
	-webkit-box-shadow: 6px 6px 5px #666;
	-moz-box-shadow: 6px 6px 5px #666;
	box-shadow:6px 6px 5px #666;
	padding-bottom:5%;
}

#logo2 {
	padding-top:10px;
	padding-left:10px;
}

ul{
	list-style-type:none;
	padding:0;
}

ul li a{
	float:left;
	width:20%;
	display:inline-block;
	text-decoration: none;
	list-style-type:none;
	text-align:center;
	color:white;
	background-color:#010611;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	opacity: .8;
}
section{
	margin-top:20%;
	margin-left:1%;
	margin-right:1%;
	padding: 10px;
	clear:both;
	border: solid 2px #549eb9;
	border-radius:15px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
h2 {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#112127;
	text-decoration: none;
}