body {
	background: url(../img/background.gif) repeat; 
}

div{
	margin-left:15%;
	margin-right:15%;
	background: url(../img/building.jpg) no-repeat;
	background-position: 98% 5%;
	background-color: white;
	padding-bottom:1%;
	-webkit-box-shadow: 6px 6px 5px #666;
	-moz-box-shadow: 6px 6px 5px #666;
	box-shadow:6px 6px 5px #666;
	padding-bottom:5%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#logo2 {
	padding-top:10px;
	padding-left:10px;
}

.navbar{
	list-style-type:none;
	margin-left:10px;
	margin-right
	padding:0;
	width:100%;

}
.nav li{
	float:left;
	display:inline-block;
	text-decoration: none;
	list-style-type:none;
	text-align:center;
	color:white;
	background-color:#010611;
	opacity: .8;
}
.nav li a{
	text-decoration: none;
	width:20%;
}
.nav h3{
	font-size: 18px;
	padding-left:5px;
}
.nav h4{
	font-size: 16px;
	color:white;
	padding-left:5px;

}
.nav .divider-vertical {
  height: 62px;
  padding-left:5px;
  border-right: 1px solid white;
}

section{
	margin-top:20%;
	margin-left:1%;
	margin-right:1%;
	padding: 10px;
	clear:both;
	border-radius:15px;
}
h2 {
	color:#112127;
	text-decoration: none;
}